{erl_opts, [debug_info]}.
{deps, [
  {cowboy,"2.8.0"},
  {jsone,"1.5.6"},
  {eleveldb,"2.2.20"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [sipgraph]}
]}.


{relx, [
  {release, {sipgraph, "0.1.0"}, [sipgraph]},
  {dev_mode, true},
  {include_erts, false},
  {include_src, true},
  {extended_start_script, true},
  
  {sys_config,"config/sys.config"},
  {vm_args, "config/vm.args"},

  {overlay, [
    {copy,"priv/q.py","q.py"},
    {mkdir,"db/"}
  ]}

]}.

{profiles, [{prod,
  [{relx, [
    {dev_mode, false},
    {include_erts, true},
    {include_src, false}
    ]}
  ]}
]}.
  
